.content-wrapper {
  margin-top: 290px;
  // min-height: 80vh;

  @media mq-tablet {
    margin-top: 0;
  }
}

.view-wrapper {
  max-width: contentMaxWidth;
  min-height: 50vh;
  font-family: Recife;
  margin-top: 32px;
  padding-bottom: 64px;

  .view__image {
    position: relative;
    width: 100%;
    height: 386px;
    overflow: hidden;
    margin-bottom: 32px;

    img {
      position: relative;
      width: 100%;
      height: auto;
      top: 50%;
      transform: translate3d(0, -50%, 0);

      @media mq-tablet-lg {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  .article-wrapper .column-image {
    position: relative;
    width: 100%;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .article-content {
    max-width: appMaxWidth;
    margin: 0 auto;

    @media mq-tablet-lg {
      padding: 0 16px;
    }

    .section-link:last-of-type {
      margin-bottom: 32px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 6.4rem;

      &.view-title {
        margin-bottom: 60px;

        @media mq-phone-lg {
          font-size: h1-mobile;
        }
      }

      @media mq-tablet-lg {
        margin-bottom: 0;
      }

      .column {
        position: relative;
        max-width: 100%;
        padding-top: 1.2rem;

        @media mq-tablet {
          padding-right: 0;
          margin-bottom: 6.4rem;
        }

        &.border {
          margin-top: 20px;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            top: -10px;
            left: 0;
            height: 2px;
            background-color: orange;

            @media mq-tablet {
              width: 100%;
            }
          }
        }
      }

      .column:last-of-type {
        &.border:after {
          width: 100%;
        }
      }

      .full {
        flex-basis: 100%;
      }

      .double {
        flex-basis: calc(100%/1.5 - 1.5rem);

        @media mq-tablet {
          flex-basis: 100%;
        }
      }

      .single {
        flex-basis: calc(100%/3 - 1.5rem);

        @media mq-tablet {
          flex-basis: 100%;
        }
      }
    }
  }

  .view__copy {
    position: relative;
    width: 100%;

    h3 {
      margin-bottom: 16px;
    }

    figure {
      position: relative;
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p {
      margin-bottom: 12px;
      font-family: Recife;
    }

    ul, li {
      list-style: disc;
    }

    ul {
      padding-left: 25px;
    }
  }
}
