.content-wrapper {
  // margin-top: 239px;
}

.view-wrapper {
  max-width: contentMaxWidth;
  font-family: Recife;
  margin-top: 32px;
  padding-bottom: 64px;

  .view__image {
    position: relative;
    width: 100%;
    height: 386px;
    overflow: hidden;
    margin-bottom: 32px;

    img {
      position: relative;
      width: 100%;
      height: auto;
      top: 50%;
      transform: translate3d(0, -50%, 0);

      @media mq-tablet-lg {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  .view__title {
    font-size: 7.8rem;
    font-family: Druk;
    margin-bottom: 20px;
  }

  .view__copy {
    position: relative;

    p {
      font-family: Recife;
    }

    ul,
    li {
      list-style: disc;
    }

    ul {
      padding-left: 25px;
    }
  }

  .article-content {
    @apply py-[16px] lg:py-0;
  }
}
