// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-Black.eot');
//   src: url('../assets/fonts/UntitledSansWeb-Black.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-Black.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-Black.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  900;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-BlackItalic.eot');
//   src: url('../assets/fonts/UntitledSansWeb-BlackItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-BlackItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-BlackItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  900;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-Bold.eot');
//   src: url('../assets/fonts/UntitledSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-Bold.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-Bold.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-BoldItalic.eot');
//   src: url('../assets/fonts/UntitledSansWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-BoldItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-BoldItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-Medium.eot');
//   src: url('../assets/fonts/UntitledSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-Medium.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-Medium.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-MediumItalic.eot');
//   src: url('../assets/fonts/UntitledSansWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-MediumItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-MediumItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-Regular.eot');
//   src: url('../assets/fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-Regular.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-Regular.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  300;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-RegularItalic.eot');
//   src: url('../assets/fonts/UntitledSansWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-RegularItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-RegularItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  300;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-Light.eot');
//   src: url('../assets/fonts/UntitledSansWeb-Light.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-Light.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-Light.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  100;
// }
//
// @font-face {
//   font-family: 'UntitledSans';
//   src: url('../assets/fonts/UntitledSansWeb-LightItalic.eot');
//   src: url('../assets/fonts/UntitledSansWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSansWeb-LightItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSansWeb-LightItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  100;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-Bold.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-Bold.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-Bold.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-BoldItalic.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-BoldItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-BoldItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-Medium.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-Medium.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-Medium.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-Medium.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-MediumItalic.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-MediumItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-MediumItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-Regular.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-Regular.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-Regular.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-Regular.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  300;
// }
//
// @font-face {
//   font-family: 'UntitledSerif';
//   src: url('../assets/fonts/UntitledSerifWeb-RegularItalic.eot');
//   src: url('../assets/fonts/UntitledSerifWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
//        url('../assets/fonts/UntitledSerifWeb-RegularItalic.woff') format('woff'),
//        url('../assets/fonts/UntitledSerifWeb-RegularItalic.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  300;
// }
//
// UntitledSans  = "UntitledSans", Arial, Sans-Serif;
// UntitledSerif = "UntitledSerif", Times, Serif;
