.footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2.4rem;
  border-top: solid 2px text-purple;

  @media mq-tablet-lg {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-left {
    display: flex;
    justify-content: space-between;
    width: 75%;

    @media mq-tablet-lg {
      flex-wrap: wrap;
      margin-bottom: 2.2rem;
    }

    &__contact {
      @media mq-tablet-lg {
        margin-bottom: 1.0rem;
      }
    }
  }
}
