.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 3.2rem 2.4rem 6rem;
  border-top: solid 2px purple;
  overflow: hidden;

  @media mq-tablet-lg {
    display: flex;
    flex-wrap: wrap;
  }

  .blob-footer {
    position: absolute;
    opacity: 0.6;
    border-radius: 50%;
    z-index: -1;

    &--one {
      width: 15%;
      height: 15%;
      top: 30%;
      left: 5%;
      background-color: orange;
      box-shadow: 0 0 40px 40px orange;
    }

    &--two {
      width: 60%;
      height: 150px;
      top: 30%;
      left: 25%;
      background-color: aqua;
      box-shadow: 0 0 35px 35px aqua;
    }

    &--three {
      width: 50px;
      height: 75px;
      top: 20%;
      left: 75%;
      background-color: green;
      box-shadow: 0 0 50px 50px green;
    }

    &--four {
      width: 200px;
      height: 20px;
      top: 85%;
      left: 95%;
      background-color: purple;
      box-shadow: 0 0 75px 75px purple;
    }
  }

  .footer-left {

    @media mq-tablet-lg {
      width: 100%;
      margin-bottom: 2.2rem;
    }

    &__contact {
      @media mq-tablet-lg {
        margin-bottom: 1.0rem;
      }
    }
  }

  .footer-center {

    @media mq-tablet-lg {
      margin-bottom: 2.2rem;
    }

    &__handle {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      @media mq-tablet-lg {
        width: 100%;
      }

      a {
        font-size: 18px;
        font-weight: 300;
      }

      svg {
        margin-right: 8px;
      }
    }
  }

  .footer-right {
    @media mq-tablet-lg {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }
}
