  .header-mobile {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: aqua;
    z-index: -1;
    transition: opacity 150ms ease-in-out;

    @media mq-tablet {
      display: flex;
      opacity: 0;
    }

    &.active {
      opacity: 1;
      z-index: 999;
    }

    &__nav {
      width: calc(100% - 68px);
      border-right: solid 2px text-purple;

      .nav-link {
        border-bottom: solid 2px text-purple;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 2.6rem 1.7rem;
        }
      }
    }

    &--button {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: text-purple;
      color: white;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }

    &__button {
      display: none;
      position: absolute;
      width: 2.8rem;
      height: 2.8rem;
      top: 2.1rem;
      right: 1.9rem;
      color: text-purple;
      cursor: pointer;
      z-index: 9999;

      @media mq-tablet {
        display: block;
      }

      &--top,
      &--middle,
      &--bottom {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 0;
        top: 0;
        right: 0;
        margin-bottom: 0.7rem;
        border-bottom: 2px solid text-purple;
      }

      &--top {
        will-change: transform;
        transition: transform 300ms ease-in-out 50ms;
      }

      &--middle {
        transition: opacity 100ms ease-in-out;
      }

      &--bottom {
        transition: transform 300ms ease-in-out, width 150ms ease-in-out;
      }

      &.active {
        .header-mobile__button--top {
          width: 2.6rem;
          border-bottom: 2px solid text-purple;
          transform: rotate(45deg) translate3d(7px, 9px, 0);
        }

        .header-mobile__button--middle {
          opacity: 0;
        }

        .header-mobile__button--bottom {
          width: 2.6rem;
          border-bottom: 2px solid text-purple;
          transform: rotate(-45deg) translate3d(3px, -5px, 0);
        }
      }
    }
  }
