h1 {
  font-size: $h1-fs;
  line-height: $h1-lh;
  font-weight: 700;
  font-family: $Druk;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: $h2-fs;
  line-height: $h2-lh;
  font-weight: 300;
  margin: 0;
}

a,
p,
input,
li {
  font-size: $body-fs;
  line-height: $body-lh;
  font-weight: 300;
  text-decoration: none;
}

a {
  color: inherit;
  line-height: 1;
  font-weight: 700;

  &.default-weight {
    font-weight: 300;
  }
}

.nav-link a,
.footer p {
  font-size: 1.8rem;
}

.serif {
  font-family: $Recife;
}
