.lazyload,
.lazyloading {
  opacity: 0;
  transition: opacity 400ms;
}

img.lazyloaded {
  opacity: 1;
}

.button {
  border: solid 2px $purple;
  padding: 11px 31px;
  font-family: Druk;
  transition: all 100ms ease-in-out;

  &:hover {
    color: $text-beige;
    background-color: $purple;
  }

  &:active, &:visited {
    color: text-purple;
  }
}

.related-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  li {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 16px;

    @media mq-tablet {
      flex-basis: 100%;
    }
  }

  .related-image {
    position: relative;
    width: 100%;
    height: auto;

    .content-lockup__image {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        min-width: 0;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }
}

.newsletter-form {
  .field-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit-wrapper,
  .ctct-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 16px;
    background-color: $purple;
    border-radius: 50%;

    svg {
      position: absolute;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}

.form-input {
  min-width: 260px;
  padding: 14px 19px;
  border: solid 2px $purple;
  font-size: 18px;
  font-family: $Druk;
  color: $text-purple;
}

.form-input::placeholder {
  color: $text-purple;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.no-mobile {
  display: none;
  position: relative;
  top: 1px;
  font-size: 1.5rem;
}

.hide-mobile {
  opacity: 0;
  transform: translate3d(0, 6rem, 0);
  transition: all 300ms ease-in-out;
  will-change: transform;

  &.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@screen md {
  .no-mobile {
    display: inline;
  }
}
