{#
 # Default entry template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% block content %}
  <div id="" class="view-wrapper">

    <article class="article-wrapper">
      <div class="matrix-wrapper">
{#
        {% for block in entry.contentMatrix.all() %}

        {% endfor %} #}
      </div>
		</article>
  </div>
{% endblock %}
