node_modules/
node_modules/*
.DS_Store
yarn.lock

# CRAFT IGNORE
/.env
/.idea
/vendor

# ignore ht files to keep password on staging
web/.htaccess
web/.htpasswd
web/data/*
web/assets/images/*
web/assets/videos/*