@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-Bold-Web.woff"), url("../assets/fonts/DrukText-Bold-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-BoldItalic-Web.woff"), url("../assets/fonts/DrukText-BoldItalic-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-Heavy-Web.woff"), url("../assets/fonts/DrukText-Heavy-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-HeavyItalic-Web.woff"), url("../assets/fonts/DrukText-HeavyItalic-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-Medium-Web.woff"), url("../assets/fonts/DrukText-Medium-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-MediumItalic-Web.woff"), url("../assets/fonts/DrukText-MediumItalic-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-Super-Web.woff"), url("../assets/fonts/DrukText-Super-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Druk';
  src: url("../assets/fonts/DrukText-SuperItalic-Web.woff"), url("../assets/fonts/DrukText-SuperItalic-Web.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-Black.eot");
  src: url("../assets/fonts/RecifeTextWeb-Black.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-Black.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-Black.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-BlackItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-BlackItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-BlackItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-BlackItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-Bold.eot");
  src: url("../assets/fonts/RecifeTextWeb-Bold.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-Bold.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-Bold.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-BoldItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-BoldItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-BoldItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-BoldItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-Light.eot");
  src: url("../assets/fonts/RecifeTextWeb-Light.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-Light.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-Light.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-LightItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-LightItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-LightItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-LightItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-Medium.eot");
  src: url("../assets/fonts/RecifeTextWeb-Medium.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-Medium.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-Medium.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-MediumItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-MediumItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-MediumItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-MediumItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-Regular.eot");
  src: url("../assets/fonts/RecifeTextWeb-Regular.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-Regular.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-Regular.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-RegularItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-RegularItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-RegularItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-RegularItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-SemiBold.eot");
  src: url("../assets/fonts/RecifeTextWeb-SemiBold.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-SemiBold.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-SemiBold.woff2") format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Recife';
  src: url("../assets/fonts/RecifeTextWeb-SemiBoldItalic.eot");
  src: url("../assets/fonts/RecifeTextWeb-SemiBoldItalic.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/RecifeTextWeb-SemiBoldItalic.woff") format('woff'), url("../assets/fonts/RecifeTextWeb-SemiBoldItalic.woff2") format('woff2');
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
}
h1 {
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
  font-family: "Druk", Arial, Sans-Serif;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.8rem;
  line-height: 1.29;
  font-weight: 300;
  margin: 0;
}
a,
p,
input,
li {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
  text-decoration: none;
}
a {
  color: inherit;
  line-height: 1;
  font-weight: 700;
}
a.default-weight {
  font-weight: 300;
}
.nav-link a,
.footer p {
  font-size: 1.8rem;
}
.serif {
  font-family: "Recife", Times, Serif;
}
html,
body {
  visibility: visible;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Druk", Arial, Sans-Serif;
  color: #54235c;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
@media all and (max-width: 850px) {
  html,
  body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
}
ul,
li {
  list-style: none;
}
.lazyload,
.lazyloading {
  opacity: 0;
  transition: opacity 400ms;
}
img.lazyloaded {
  opacity: 1;
}
.button {
  border: solid 2px #ac00e5;
  padding: 11px 31px;
  transition: all 100ms ease-in-out;
}
.button:hover {
  color: #fefaff;
  background-color: #ac00e5;
}
.newsletter-form .field-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-form .submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 16px;
  background-color: #ac00e5;
  border-radius: 50%;
}
.newsletter-form .submit-wrapper svg {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.form-input {
  min-width: 260px;
  padding: 14px 19px;
  border: solid 2px #ac00e5;
  font-size: 18px;
  font-family: "Druk", Arial, Sans-Serif;
  color: #54235c;
}
.form-input::placeholder {
  color: #54235c;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.no-mobile {
  display: inline;
  position: relative;
  top: 1px;
  font-size: 1.5rem;
}
@media all and (max-width: 850px) {
  .no-mobile {
    display: none;
  }
}
@media all and (max-width: 850px) {
  .hide-mobile {
    opacity: 0;
    transform: translate3d(0, 6rem, 0);
    transition: all 300ms ease-in-out;
    will-change: transform;
  }
  .hide-mobile.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header {
  display: flex;
  position: relative;
  padding: 2.2rem 2.4rem;
  border-bottom: solid 2px #ac00e5;
}
.header .blob {
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  transition: margin 1000ms ease-in-out, opacity 300ms ease-in-out;
}
.header .blob--one {
  width: 100px;
  height: 150px;
  top: -2%;
  left: 0;
  background-color: #ac00e5;
  box-shadow: 0 0 75px 75px #ac00e5;
}
.header .blob--one.secondary {
  width: 80px;
  height: 150px;
  top: -5%;
  left: -2%;
}
.header .blob--two {
  width: 150px;
  height: 250px;
  top: -60%;
  left: 25%;
  background-color: #ffa488;
  box-shadow: 0 0 40px 40px #ffa488;
}
.header .blob--two.secondary {
  width: 75px;
  height: 150px;
  top: -62%;
  left: 20%;
}
.header .blob--three {
  width: 75px;
  height: 150px;
  top: 70%;
  left: 70%;
  background-color: #cdfcfc;
  box-shadow: 0 0 35px 35px #cdfcfc;
}
.header .blob--three.secondary {
  width: 50px;
  height: 300px;
  top: 65%;
  left: 70%;
}
.header .blob--four {
  width: 300px;
  height: 150px;
  top: 10%;
  left: 95%;
  background-color: #dee23b;
  box-shadow: 0 0 50px 50px #dee23b;
}
.header .header-left {
  position: relative;
  margin-right: 91px;
  transition: transform 100ms ease-in-out;
}
.header .header-right {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
@media all and (max-width: 850px) {
  .header .header-right {
    display: none;
  }
}
.header .header-right__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  transition: transform 100ms ease-in-out;
}
.header .header-right--button {
  margin-top: 10px;
}
.header .header-right__nav ul {
  display: flex;
}
.header .header-right__nav ul li {
  margin-right: 44px;
  transition: color 100ms ease-in-out;
}
.header .header-right__nav ul li:hover {
  color: #ac00e5;
}
.header .header-right--copy {
  width: 75%;
}
.header-mobile {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #cdfcfc;
  z-index: -1;
  transition: opacity 150ms ease-in-out;
}
@media all and (max-width: 850px) {
  .header-mobile {
    display: flex;
    opacity: 0;
  }
}
.header-mobile.active {
  opacity: 1;
  z-index: 999;
}
.header-mobile__nav {
  width: calc(100% - 68px);
  border-right: solid 2px #54235c;
}
.header-mobile__nav .nav-link {
  border-bottom: solid 2px #54235c;
}
.header-mobile__nav .nav-link a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2.6rem 1.7rem;
}
.header-mobile--button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #54235c;
  color: #fff;
}
.header-mobile--button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header-mobile__button {
  display: none;
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 2.1rem;
  right: 1.9rem;
  color: #54235c;
  cursor: pointer;
  z-index: 9999;
}
@media all and (max-width: 850px) {
  .header-mobile__button {
    display: block;
  }
}
.header-mobile__button--top,
.header-mobile__button--middle,
.header-mobile__button--bottom {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 0;
  top: 0;
  right: 0;
  margin-bottom: 0.7rem;
  border-bottom: 2px solid #54235c;
}
.header-mobile__button--top {
  will-change: transform;
  transition: transform 300ms ease-in-out 50ms;
}
.header-mobile__button--middle {
  transition: opacity 100ms ease-in-out;
}
.header-mobile__button--bottom {
  transition: transform 300ms ease-in-out, width 150ms ease-in-out;
}
.header-mobile__button.active .header-mobile__button--top {
  width: 2.6rem;
  border-bottom: 2px solid #54235c;
  transform: rotate(45deg) translate3d(7px, 9px, 0);
}
.header-mobile__button.active .header-mobile__button--middle {
  opacity: 0;
}
.header-mobile__button.active .header-mobile__button--bottom {
  width: 2.6rem;
  border-bottom: 2px solid #54235c;
  transform: rotate(-45deg) translate3d(3px, -5px, 0);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.2rem 2.4rem 6rem;
  border-top: solid 2px #ac00e5;
}
@media all and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 1024px) {
  .footer .footer-left {
    width: 100%;
    margin-bottom: 2.2rem;
  }
}
@media all and (max-width: 1024px) {
  .footer .footer-left__contact {
    margin-bottom: 1rem;
  }
}
@media all and (max-width: 1024px) {
  .footer .footer-center {
    margin-bottom: 2.2rem;
  }
}
.footer .footer-center__handle {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
@media all and (max-width: 1024px) {
  .footer .footer-center__handle {
    width: 100%;
  }
}
.footer .footer-center__handle svg {
  margin-right: 8px;
}
@media all and (max-width: 1024px) {
  .footer .footer-right {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
.view-wrapper {
  max-width: 939px;
  font-family: "Recife", Times, Serif;
  margin-top: 32px;
  padding-bottom: 64px;
}
.view-wrapper .view__image {
  position: relative;
  width: 100%;
  height: 386px;
  overflow: hidden;
  margin-bottom: 32px;
}
.view-wrapper .view__image img {
  position: relative;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
@media all and (max-width: 1024px) {
  .view-wrapper .view__image img {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
@media all and (max-width: 1024px) {
  .view-wrapper .article-content {
    padding: 0 16px;
  }
}
.view-wrapper .view__title {
  font-size: 7.8rem;
  font-family: "Druk", Arial, Sans-Serif;
  margin-bottom: 20px;
}
.view-wrapper .view__copy {
  position: relative;
}
.view-wrapper .view__copy p {
  font-family: "Recife", Times, Serif;
}
.view-wrapper .view__copy ul,
.view-wrapper .view__copy li {
  list-style: disc;
}
.view-wrapper .view__copy ul {
  padding-left: 25px;
}
.content-lockup {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 700px;
  max-height: 750px;
  margin-bottom: 3px;
}
.content-lockup:first-of-type {
  margin-top: 0;
}
.content-lockup:last-of-type {
  margin-bottom: 0;
}
.content-lockup__image,
.content-lockup__video {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-lockup__image img,
.content-lockup__video img {
  position: relative;
  width: auto;
  min-width: 1440px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
@media all and (min-width: 1440px) {
  .content-lockup__image img,
  .content-lockup__video img {
    width: 100%;
    height: auto;
  }
}
.content-lockup__image iframe,
.content-lockup__video iframe,
.content-lockup__image .fb-video,
.content-lockup__video .fb-video {
  width: 100%;
  height: 100%;
}
.content-lockup__copy {
  position: relative;
  padding: 48px 30px;
  color: #fff;
}
.content-lockup__copy h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.content-lockup__copy h1 p,
.content-lockup__copy h1 a {
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}
.content-lockup__copy .serif + p {
  font-family: "Recife", Times, Serif;
}
/*# sourceMappingURL=app.css.map */