  <div class="footer">
    <div class="footer-left">
      <div class="footer-left__contact">
        {{ footerCopy.textField }}
      </div>

      <div class="footer-left__handle">
        {{ footerHandle.textField }}
      </div>
    </div>

    <div class="footer-right">
      {% include 'components/_newsletter-form.twig' %}
    </div>
  </div>
