<header class="header">
  <div class="blob blob--one"></div>
  <div class="blob blob--one seconday"></div>

  <div class="blob blob--two"></div>
  <div class="blob blob--two secondary"></div>

  <div class="blob blob--three"></div>
  <div class="blob blob--three secondary"></div>

  <div class="blob blob--four"></div>

  <div class="header-left">
    <a href="/">
      {% include './svg/lockup.twig' %}
    </a>
  </div>

  <div class="header-right">

    <div class="header-right__top">
      <div class="header-right--copy serif">
        {{ headerCopy.textField }}
      </div>

      <div class="header-right--button">
        <a href="https://www.ackerman.org/donate/" target="_blank" class="button default-weight">Donate</a>
      </div>
    </div>

    <div class="header-right__nav">
      <ul>
        <li class="nav-link">
          <a href="./about" class="default-weight">About</a>
        </li>
        <li class="nav-link">
          <a href="./get-in-touch" class="default-weight">Get In Touch</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header-mobile">
    <div class="blob-mobile blob-mobile--one"></div>
    <div class="blob-mobile blob-mobile--two"></div>
    <div class="blob-mobile blob-mobile--three"></div>
    <div class="blob-mobile blob-mobile--four"></div>

    <ul class="header-mobile__nav">
      <li class="nav-link">
        <a href="./about" class="default-weight">About</a>
      </li>
      <li class="nav-link">
        <a href="./get-in-touch" class="default-weight">Get In Touch</a>
      </li>
    </ul>

    <div class="header-mobile--button">
      <a href="https://www.ackerman.org/donate/" target="_blank" class="default-weight">Donate</a>
    </div>
  </div>

  <div class="header-mobile__button">
    <span class="header-mobile__button--top"></span>
    <span class="header-mobile__button--middle"></span>
    <span class="header-mobile__button--bottom"></span>
  </div>
</header>
