{#
 # 404 Page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% block content %}
  <div id="page-project" class="view-wrapper">

    {% for entry in craft.entries.section('fourOhFourPage').all()|slice(0,1) %}

      <article class="article-wrapper">
        <div class="center">
          {{ entry.textField }}
        </div>

        {% set relatedEntries = entry.relatedEntries.all() %}
        {% if relatedEntries|length %}
          <ul class="related-list">
            {% for related in relatedEntries %}
            {% set image = related.imageField.one() %}
              <li>
                {% if image %}
                  <a class="related-image" href="{{ related.url }}">
                    {% include 'components/_asset.twig' %}
                  </a>
                {% endif %}
                <a href="{{ related.url }}">{{ related.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
  		</article>

    {% endfor %}

  </div>
{% endblock %}
