{#
 # 404 Page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% block content %}
  <div id="page-project" class="view-wrapper">

    {% for entry in craft.entries.section('fourOhFourPage').find()|slice(0,1) %}

      <article class="article-wrapper">
        <h1>{{ entry.textField }}</h1>
  		</article>

    {% endfor %}

  </div>
{% endblock %}
