{% set primary = craft.app.sites.primarySite %}

{% if image %}
  {% set imageTitle = image.title %}
{% endif %}

{% if not image %}
  {% set image = block.assetField.one() %}
{% endif %}

{% set imageUrl = image.getUrl() %}

<div class="inline-image">
  <img class="image" alt="{{ imageTitle }}" src="{{ siteUrl(imageUrl, siteId=primary.id) }}" />
</div>
