<form class="newsletter-form" action="" method="POST">
  {{ csrfInput() }}
  <input type="hidden" name="action" value="constant-contact/subscribe">

  {% if craft.app.session.hasFlash('notice') %}
    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
  {% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
  {% endif %}

  <div class="field-line">
    <input class="form-input" type="email" name="email" placeholder="Join our mailing list" value=""/>
    <label class="submit-wrapper">
      <input type="submit" name="submit" value=""/>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.563 16.121">
        <g id="Group_3_Copy_2" data-name="Group 3 Copy 2" transform="translate(-0.187 1.061)">
          <path d="M.937,1H15" transform="translate(0 6)" fill="none" stroke="#fefcfe" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"/>
          <path data-name="Path 2" d="M0,0,7,7,0,14" transform="translate(9)" fill="none" stroke="#fefcfe" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"/>
        </g>
      </svg>
    </label>
  </div>
</form>
