<form class="newsletter-form" action="" method="POST">
  {{ csrfInput() }}
  <input type="hidden" name="action" value="constant-contact/subscribe">
  <input type="hidden" name="listid" value="12345">
  {{ redirectInput('thanks') }}

  <div class="field-line">
    <input class="form-input" type="text" name="MERGE0" placeholder="Join our mailing list" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.email }}{% endif %}"/>
    <label class="submit-wrapper">
      <input type="submit" name="submit" value=""/>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.563 16.121">
        <g id="Group_3_Copy_2" data-name="Group 3 Copy 2" transform="translate(-0.187 1.061)">
          <path d="M.937,1H15" transform="translate(0 6)" fill="none" stroke="#fefcfe" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"/>
          <path data-name="Path 2" d="M0,0,7,7,0,14" transform="translate(9)" fill="none" stroke="#fefcfe" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"/>
        </g>
      </svg>
    </label>
  </div>
</form>
